@charset "utf-8";

/* cyrillic */
@font-face {
 font-family: 'Poiret One';
 font-style: normal;
 font-weight: 400;
 src: local('Poiret One'), local('PoiretOne-Regular'),
  url('https://fonts.gstatic.com/s/poiretone/v4/cKr_e199f0xMkxMkRbEJXyEAvth_LlrfE80CYdSH47w.woff2')
   format('woff2');
 unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
 font-family: 'Poiret One';
 font-style: normal;
 font-weight: 400;
 src: local('Poiret One'), local('PoiretOne-Regular'),
  url('https://fonts.gstatic.com/s/poiretone/v4/3Annd_XP-99FcGbOpm6fVCEAvth_LlrfE80CYdSH47w.woff2')
   format('woff2');
 unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
  U+A720-A7FF;
}
/* latin */
@font-face {
 font-family: 'Poiret One';
 font-style: normal;
 font-weight: 400;
 src: local('Poiret One'), local('PoiretOne-Regular'),
  url('https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8fk_vArhqVIZ0nv9q090hN8.woff2')
   format('woff2');
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
  U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* m+1 */
@import url('https://fonts.googleapis.com/earlyaccess/mplus1p.css');

/* reset */
*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -o-box-sizing: border-box;
 -ms-box-sizing: border-box;
 box-sizing: border-box;
}

html {
 height: 100%;
 line-height: 1;
 background: #ffffff;
 color: #333333;
}
body {
 margin: 0;
 padding: 0;
 border: 0;
 width: 100%;
 min-height: 100%;
 font-size: 14px;
 line-height: 1.4;
 overflow-y: scroll;
 font-family: 'Mplus 1p', 'メイリオ', 'ヒラギノ角ゴ Pro W3',
  'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
 word-break: break-all;
 -webkit-text-size-adjust: 100%;
 color: #333;
 background-color: #eee;
}
body.ie7 {
 overflow-y: visible;
}
body.tab {
 background-image: none;
}

article,
aside,
details,
figcaption,
include,
footer,
header,
hgroup,
main,
nav,
section,
summary {
 display: block;
 margin: 0;
 padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
blockquote,
ul,
ol,
li {
 margin: 0;
 padding: 0;
 font-size: 14px;
 vertical-align: baseline;
 -webkit-overflow-wrap: break-word;
 -ms-overflow-wrap: break-word;
 overflow-wrap: break-word;
 -webkit-word-wrap: break-word;
 -ms-word-wrap: break-word;
 word-wrap: break-word;
 line-height: 1.8;
}
figcaption,
span {
 -webkit-overflow-wrap: break-word;
 -ms-overflow-wrap: break-word;
 overflow-wrap: break-word;
 -webkit-word-wrap: break-word;
 -ms-word-wrap: break-word;
 word-wrap: break-word;
}
p {
 font-size: 14px;
}
[hidden],
template {
 display: none;
}
a:link {
 color: #1262b2;
 text-decoration: none;
}
a:visited {
 color: #1262b2;
 text-decoration: none;
}
a:active,
a:hover {
 opacity: 0.6;
 color: #1262b2;
 text-decoration: underline;
}
body.tab a:active,
body.tab a:hover {
 opacity: 1;
}
abbr[title] {
 border-bottom: 1px dotted;
}
i,
em {
 font-style: normal;
}
b,
strong,
em {
 font-weight: bold;
}
small {
 font-size: 13px;
 line-height: 1.6;
}
ul,
ol {
 margin: 1.2em 0;
 padding: 0 0 0 2em;
}
li {
 margin: 0.4em 0;
}
img {
 border: 0;
 vertical-align: top;
}
img {
 -ms-interpolation-mode: bicubic;
}
form {
 margin: 0;
 padding: 0;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
 content: '';
 display: table;
}
.clearfix:after {
 clear: both;
}
.clearfix {
 *zoom: 1;
}

pc-obj {
 display: block;
}
sp-obj {
 display: none;
}

.form-ic-req {
 margin: 0 3px 0 0;
 color: #cd201f;
 font-weight: bold;
 font-size: 12px;
}

/* ヘッダー */
.header-wrap {
 color: #333;
 background-color: #2b2f30;
}
.header-main {
 height: 64px;
 margin: 0 auto;
 width: 960px;
}
.header-main a {
 display: block;
 width: 320px;
 height: 64px;
 background: #2846a0;
 text-align: center;
 -webkit-transition: 0.3s all;
 -moz-transition: 0.3s all;
 -ms-transition: 0.3s all;
 -o-transition: 0.3s all;
 transition: 0.3s all;
}
.header-main a:hover {
 background: #265cff;
 opacity: 0.8;
}
.header-main a img {
 width: 100%;
 max-width: 170px;
 max-height: 64px;
}

/* コンテンツ */
.wrap-all {
 background: #fff;
}

.inner {
 margin: 0 auto;
 padding: 0 30px;
 max-width: 960px;
 width: 100%;
}

.contents-area {
 background: #fff;
}

#INSTA_AREA {
 width: 100%;
 margin: 0;
 padding: 0;
 list-style: none;
}
#INSTA_AREA li {
 display: inline-block;
 width: 280px;
 margin: 0;
 padding: 16px;
 vertical-align: top;
}
#INSTA_AREA li .insta-box {
 background: #eee;
 box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.insta-box .loc-box .loc-name {
 display: block;
 padding: 8px 8px 2px;
 font-size: 14px;
 color: #333;
}
.insta-box .loc-box .loc-date {
 display: block;
 padding: 8px;
 font-size: 12px;
 color: #888;
}
.insta-box a {
 display: block;
 -webkit-transition: 0.3s all;
 -moz-transition: 0.3s all;
 -ms-transition: 0.3s all;
 -o-transition: 0.3s all;
 transition: 0.3s all;
}
.insta-box a:hover {
 opacity: 0.9;
}
.insta-box img {
 width: 100%;
 background-color: #fff;
}

/* フッター */
.footer-wrap {
 padding: 15px 0;
 background-color: #eee;
 color: #333;
 text-align: center;
}

.pagetop {
 position: fixed;
 bottom: 0;
 right: 20px;
 z-index: 2;
}
.pagetop a {
 position: relative;
 display: block;
 width: 80px;
 height: 80px;
 background-color: rgba(0, 0, 0, 0.8);
 background-image: url('/img/ico_pagetop.png');
 background-repeat: no-repeat;
 background-position: center center;
}
.pagetop a:hover {
 opacity: 1;
 background-color: #878787;
 transition: background 0.3s;
}
